<% if Favorite.find_by(user_id: current_user.id, blog_id: blog.id) %>
  <%= button_to favorite_path(id: current_user.favorites.find_by(blog_id: blog.id)), method: :delete, class: "favorite-link delete-#{blog.id}" do %>
    <i class="material-icons">star</i>
  <% end %>
<% else %>
  <%= button_to favorites_path(blog_id: blog.id), method: :post, class: "favorite-link post-#{blog.id}" do %>
    <i class="material-icons">star_border</i>
    <% end %>
<% end %>
<%# <%= blog.favorites.length %>
<span class="favorite-count-<%= blog.id %>"><%= blog.favorites.length %></span>
